<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<configuration>-->
<!--    &lt;!&ndash; 属性文件:在properties文件中找到对应的配置项 &ndash;&gt;-->
<!--    <springProperty scope="context" name="logging.path" source="logging.path"/>-->

<!--    <include resource="org/springframework/boot/logging/logback/defaults.xml" />-->
<!--    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />-->


<!--    &lt;!&ndash;根据日志级别分离日志，分别输出到不同的文件&ndash;&gt;-->
<!--    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>ERROR</level>-->
<!--            <onMatch>DENY</onMatch>-->
<!--            <onMismatch>ACCEPT</onMismatch>-->
<!--        </filter>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n-->
<!--            </pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
<!--        &lt;!&ndash;滚动策略&ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;按时间保存日志 修改格式可以按小时、按天、月来保存&ndash;&gt;-->
<!--            <fileNamePattern>${logging.path}/mall.info.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            &lt;!&ndash;保存时长&ndash;&gt;-->
<!--            <MaxHistory>90</MaxHistory>-->
<!--            &lt;!&ndash;文件大小&ndash;&gt;-->
<!--            <totalSizeCap>1GB</totalSizeCap>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>ERROR</level>-->
<!--        </filter>-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash;滚动策略&ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;路径&ndash;&gt;-->
<!--            <fileNamePattern>${logging.path}/xiaoming.error.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <MaxHistory>90</MaxHistory>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--&lt;!&ndash;-->
<!--    <logger name="java.sql.Statement" level="debug"/>-->
<!--    <logger name="java.sql.PreparedStatement" level="debug"/>&ndash;&gt;-->
<!--    <logger name="com.mall.*.dao" level="debug" />-->

<!--    <root level="debug">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="fileInfoLog"/>-->
<!--        <appender-ref ref="fileErrorLog"/>-->
<!--    </root>-->
<!--</configuration>-->
